    @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@500&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

html {

    background: white;
    font-family: 'Poppins', sans-serif;

}

img {
    width: 100%;
    height: 100%;

}


/*header*/

.nav-container {
    width: 100%;
    height: 110px;
    background: linear-gradient(35deg, rgba(0,0,0,.1), rgba(0,0,0,.1));
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 1;
    position: absolute;

}

.nav-container .logo {
    width: 80px;
}

.nav-container .logo img {
    border-radius: 50%;
}

.hamburger { 
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: black;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 25px;
    transition: .5s;
    margin: 0 10px;
    text-decoration: none;

}

.nav-bar ul li a:hover {
    color:black;
    background: white;
}



/*content*/

.content {
    display: flex;
    position: relative;
    align-items: flex start;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background: url(https://scontent.fmnl4-4.fna.fbcdn.net/v/t39.30808-6/405839024_677715664467362_8138288480559920471_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=dd5e9f&_nc_eui2=AeFZlyncMEcUlJqgcQ9ZMMGx41wpy_hADEPjXCnL-EAMQ2RV3IXoVOUEkZFjsrcq1fFFn3-x9o5QtqjTx1Crl8vy&_nc_ohc=bGO0nxuhf2IAX99WZYu&_nc_ht=scontent.fmnl4-4.fna&oh=00_AfCF2wtYvYEwDVJ4Ie3wz5AKAk0Dq0kImcPq_4IUYkJ35A&oe=65728597);
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    background-attachment: fixed;

}


.content-box h2{
font-weight: 400;
font-size: 36px;
color: orangered;

}

.content-box label{
    display: inline-block;
    margin-top: 5px;
    font-size: 22px;
    font-weight: 300;

}

.content-box label span {
    color: orangered;

}

.content-box a{
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    color: black;
    letter-spacing: 3px;
    font-size: 14px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    text-decoration: none;

}

.content-box a:hover {
    box-shadow: 4px 4px 10px #ff4500, 4px 4px 10px #ff4500;
}


.category {
    background: #fbf9f9;
    margin-top: 80px 0;
}

.category-title {
    margin-top: 20px;
    margin-bottom: 90px;
}
.category-title h2{
    text-align: center;
    font-size: 40px;
}
.category .category-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.category .category-box .box {
    margin: 30px 20px;
}

.category .category-box .box img {
    width: 600px;
    border-radius: 5px;
    height: 600px;
}

.category .category-box .box-content {
    position: absolute;
    z-index: 1;
    margin-left: 30px;
    margin-top: 100px;
}

.category .category-box .box-content{
    color: rgb(255,103,103);
}

.category .category-box .box-content label{
    display: block;
    font-size: 30px;
    color: rgb( 255,103,103);
}
.category .category-box .box-content a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 25px;
    background: white;
    transition: all .19s ease-in;
    color: black;
    text-decoration: none;
}

.category .category-box .box-content a:hover {
    background: rgb( 255,237,237);
}
.category .category-box .box-content.b2{
    margin-left: 370px;
    text-align: right;
    margin-top: 100px;
}

.category .category-box .box-content.b2 h3 {
    color: black;
}

.category .category-box .box-content.b2 label {
    color: black;
}


/*rated*/
/* Most Rated Section */
.most-rated {
    padding: 50px; 
    background: #fbf9f9;
    margin: 50px 0; 
}

.most-rated-box .most-rated-title {
    margin-bottom: 80px;
    text-align: center;
}

.most-rated-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.most-rated-items .most-rated-item {
    padding: 20px;
    margin: 80px 30px; 
    height: 300px;
}

.most-rated-items .most-rated-item .most-rated-image img {
    height: 250px; 
}

.most-rated-items .most-rated-item .most-rated-body {
    
    margin-top: 15px;
}

.most-rated-items .most-rated-item .most-rated-body h4 {
    color: gray;
    font-weight: 400;
}

.most-rated-items .most-rated-item .most-rated-body .icons i {
    font-size: 12px;
    color: orange;
}

.most-rated-items .most-rated-item .most-rated-body .price label {
    font-size: 15px;
}

.most-rated-items .most-rated-item .most-rated-body .price label.sale {
    display: inline-block;
    margin-right: 10px;
    text-decoration: line-through;
    color: gray;
}

/* Popular Products */
.popular-products {
    padding: 50px;
    margin-bottom: 120px;
    background: #fbf9f9;
}

.popular-products-box .popular-products-title {
    margin: 60px 0;
    text-align: center;
}

.popular-products-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.popular-products-items .popular-products-item {
    padding: 20px;
    margin: 90px 60px; 
    height: 300px;
}

.popular-products-items .popular-products-item .popular-products-image img {
    height: 250px; 
}

.popular-products-items .popular-products-item .popular-products-body{
    margin-top: 15px;
}
.popular-products-items .popular-products-item .popular-products-body h4 {
    font-weight: 400;
    margin-bottom: 5px;
    color: gray;
}

.popular-products-items .popular-products-item .popular-products-body .price label {
    font-size: 15px;
}

.popular-products-items .popular-products-item .popular-products-body .price label.sale {
    display: inline-block;
    margin: 10px;
    text-decoration: line-through;
    color: gray;
}

.popular-products-box .popular-products-btn {
    margin-top: 50px;
    text-align: center;
}

.popular-products-box .popular-products-btn button {
    display: inline-block;
    padding: 12px 25px;
    background: #dbcfcf;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: black;
    cursor: pointer;
    transition: .2s all ease-in;
    letter-spacing: 1px;
}

.popular-products-box .popular-products-btn button:hover {
    background: #f8dcdc;
}

/*discount news*/

.discount-news-box {
    display:flex;
    width: 100%;
    padding: 30px;
    background: #f7e7e7;
    margin: 20px 0;
    justify-content: space-between;
}

.discount-news-box .discount-news-content {
    font-weight: 300;
    letter-spacing: 1;
    line-height: 59px;
    font-size: 32px;
}
.discount-news-box .discount-news-content p{
    margin: 30px 0 0 50px;
}

.discount-news-box .discount-news-content .time {
    margin: 60px 0 0 46px;
    font-size: 30px;
}

.discount-news-box .discount-news.content .time label {
    margin: 0 12px;
}

.discount-news-box .discount-news-content .time label span {
    margin-left: 15px;
}

.discount-news-box .discount-news-image img {
    width: 320px;
    margin-right: 100px;
    margin-top: 15px;
}


/*ang aming serbisyo??*/

.our-services{
    background: #fbf9f9;
}

.our-services-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap;
}

.our-services-box .our-services-item {
    text-align: center;
    margin: 30px 40px;
    width: 350px;
    line-height: 35px;
    padding: 15px;
}

.our-services-box .our-services-item .our-services-icon {
    padding: 30px 40px;
    box-shadow: rgba(0,0,0,.1) 0px 10px 70px;
    display: inline-block;
    border-radius: 10px;
    font-size: 23px;
    color: orange;
    transition: all .4s ease-in-out;
    margin-bottom: 35px;

}

.our-services-box .our-services-item .our-services-icon:hover {
    background: orange;
    color: white;
}

.our-services-box .our-services-item .our-services-body h3 {

    font-size: 17px;
    font-weight: 400;
    margin-bottom:10px;
}

.our-services-box .our-services-item .our-services-body label {
    font-size: 15px;
    font-weight: 300;
}


/*footer*/

.footer{
    padding: 80px 90;
    background: #241816;
    margin-top: 30px;
}

.footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #241816;
    color: white;
    flex-wrap: wrap;
}

.footer-box .footer-i h4 {
    margin-bottom: 30px;
    font-size:19px;
}

.footer-box .footer-i label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 13px;
    color: rgb(137,130,130);
}

.footer-box .footer-i {
    margin: 30px;
}
.footer-box .footer-i.f3{
    position: relative;
    bottom: 40px;
}
.footer-box .footer-i.f4{
    position: relative;
    top:32px;
}

.footer-box .footer-i.f4 label{
    width: 400px;
    display: block;
    line-height: 22px;
}

.footer-box .footer-i.f4 input {
    display: inline-block;
    margin-top: 20px;
    width: 300px;
    padding: 12px 30px;
    border: none;
    outline: none;
}

.footer-box .footer-i.f4 button{
    
    padding:12px;
    position: relative;
    right: 8px;
    background: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.footer-box .footer-i.f4 .social-media{
    margin-top: 30px;
}

.footer-box .footer-i.f4 .social-media a i{

    color: white;
    margin-right: 10px;
    font-size:19px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    padding: 13px;
}

.footer-box .footer-i.f4 .social-media a i:hover {

    background: white;
    color: black;
}







